body{
    background-color: black;
    background: rgb(160,49,231);
background: linear-gradient(90deg, rgba(160,49,231,1) 0%, rgba(237,231,35,1) 35%, rgba(119,0,255,1) 100%);
}
h1{
   font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#formu{
    background-color: black;
   width:500px ;
  
margin-left: 100px;
   
   border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 15px 15px gray;
}
input{
    height: 30px;
    width:300px ;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    background: rgb(221,220,213);
background: linear-gradient(90deg, rgba(221,220,213,1) 35%, rgba(171,182,186,0.30024509803921573) 100%);
}
button, a{
    background-color: brown;
    background: rgb(160,49,231);
    background: linear-gradient(90deg, rgba(160,49,231,1) 0%, rgba(237,231,35,1) 35%, rgba(119,0,255,1) 100%);
    margin-right: 20px;
}
a{
    background-color: black;
}